<div class="accounts">
  <div>
    <b class='number'>22</b><br>
    Contas PF
  </div>
  <div>
    <b class='number'>54</b><br>
    Contas PJ
  </div>

</div>
<div nz-row class='charts' style='margin-bottom: 20px;'>
  <div nz-col nzSpan="12" class="graph">
    <p style='margin: 25px 25px 0px'>Contas PF/Dias</p>
    <div id="chart1" echarts [options]='options'></div>
  </div>
</div>
<div nz-row class='charts' style='margin-bottom: 50px'>
  <div nz-col nzSpan="12" class="graph">
    <p style='margin: 25px 25px 0px'>Contas PJ/Dias</p>
    <div id="chart1" echarts [options]='options'></div>
  </div>
</div>

